
@{
    ViewBag.Title = "SSS";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- HEADING-BANNER START -->
<div class="heading-banner-area overlay-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="heading-banner">
                    <div class="heading-banner-title">
                        <h2>Sıkça Sorulan Sorular</h2>
                    </div>
                    <div class="breadcumbs pb-15">
                        <ul>
                            <li><a href="/">Anasayfa</a></li>
                            <li>SSS</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="product-area pt-80 pb-80 product-style-2">
    <div class="container">
        <!-- Shop-Content End -->
        <div class="shop-content">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="panel-group" id="accordion">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h2 class="panel-title">
                                        <a href="#collapseOne" data-toggle="collapse" data-parent="#accordion">
                                            Neden Munzur Su?
                                        </a>
                                    </h2>
                                </div>

                                <div id="collapseOne" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                        8,45 PH derecesi  ile dünyada ve Türkiye’de en üst sırada yer alan Munzur Su sağlıklı olması ile ön
                                        plana çıkmaktadır. Su kaynağı bölge halkı tarafından kutsal ve önemli addedilmektedir. Bu bağlamda
                                        Munzur su gerek ülkemiz gerek diğer ülkeler tarafından ciddi manada talep görmektedir. Tadı, kokusu
                                        ve besin değeri ile kendisini her anlamda fark yaratan bir su noktasına taşıyan Munzur Suyu; siz
                                        değerli müşterilerimize ulaştırmaktan memnuniyet duymaktayız.
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h2 class="panel-title">
                                        <a href="#collapseTwo" data-toggle="collapse" data-parent="#accordion">
                                            Sadece su ürünlerinin mi satışı var?
                                        </a>
                                    </h2>
                                </div>
                                <div id="collapseTwo" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        Bünyemizde Su ve Meşrubat ürünlerinin siz değerli müşterilerimize satışı bulunmaktadır.
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h2 class="panel-title">
                                        <a href="#collapseThree" data-toggle="collapse" data-parent="#accordion">
                                            Ev ve iş yerlerine servisiniz var mı?
                                        </a>
                                    </h2>
                                </div>
                                <div id="collapseThree" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        Evet, Ev ve iş yerlerine hafif ticari araçlarımızla, toplu alımlara ise büyük ticari araçlarımızla hızlı teslimat yapılmaktadır.
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h2 class="panel-title">
                                        <a href="#collapseFour" data-toggle="collapse" data-parent="#accordion">
                                            Çalışma saatleriniz nedir?
                                        </a>
                                    </h2>
                                </div>

                                <div id="collapseFour" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        Haftanın 6 günü 08.30 – 21.00 Pazar günü ise 12.00 – 16.00 arasıdır.
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h2 class="panel-title">
                                        <a href="#collapseFive" data-toggle="collapse" data-parent="#accordion">
                                            Perakende satışınız var mı?
                                        </a>
                                    </h2>
                                </div>
                                <div id="collapseFive" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        19L Munzur kullan at damacana sularda perakende satışımız mevcuttur. Diğer Munzur su ürünlerinde paket olarak satış ve servis hizmeti  sunmaktayız.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

